In [ ]:
import re
import numpy as np
import matplotlib as mat
import matplotlib.pyplot as plt
                    # to visualize 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import classification_report,f1_score,accuracy_score,confusion_matrix

from time import time
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Project/toys_sample.csv")

In [ ]:
df

,Unnamed: 0.1,Unnamed: 0,overall,reviewTime,reviewerID,asin,reviewerName,reviewText,brand,main_cat,Polarity,Analysis
0,722495,722495,1.0,"11 26, 2014",A3373OHVS8TPJ0,B000F3V2MW,Clovergirl,believe many good reviews cute great theory th...,alex toys,toys games,0.183516,Positive
1,4070772,4070772,1.0,"03 26, 2015",A28G75XOL2ACWW,B00FC4V5JY,Melissa G,received one toy instead two,generic,toys games,0.000000,Neutral
2,8104367,8104367,1.0,"09 10, 2015",A2IVE814077NBT,B00VV0T284,Amazon Customer,might well buy x ray vision glasses even want ...,hqmaster,office products,-0.071429,Negative
3,7373301,7373301,1.0,"08 8, 2016",AKNYDT3UZV9K3,B003Y07XCG,Linda,soon opened box charged drone took outside win...,world tech toys,toys games,0.000000,Neutral
4,7976280,7976280,1.0,"05 13, 2017",A3FJZBAQTK1HU,B00NAQA0ZQ,michael freebery,one star arrived broken,sassafras,toys games,-0.400000,Negative
...,...,...,...,...,...,...,...,...,...,...,...,...
1678412,2648783,2648783,5.0,"09 6, 2015",A21N2JUM77MY8,B005R2JD4K,Marjorie R Sweeney,great item cute design daughter loves,emily rose doll clothes,toys games,0.650000,Positive
1678413,2976403,2976403,5.0,"03 27, 2016",A3TUPD6NVVEFE4,B007JPS3YY,NELS,great expansion added much fun basic zombie di...,steve jackson games,toys games,0.175000,Positive
1678414,6803955,6803955,5.0,"12 21, 2016",A35RC23MZDOUV2,B01D3QXSD8,Jeff W.,awsem,drone pit stop,toys games,0.000000,Neutral
1678415,5048421,5048421,5.0,"09 15, 2015",A6J0A3APZFS4T,B00NACRG1Q,Louis,price beat year old likes play perfect size bi...,liberty imports,toys games,0.212500,Positive
1678416,774339,774339,5.0,"11 4, 2015",A1ZYW9B7HF71KW,B000GKUAUY,E. DUGAN,great luke skywalker jedi costume although col...,rubie s,toys games,0.312500,Positive

In [ ]:
df.isnull().sum()

Unnamed: 0.1       0
Unnamed: 0         0
overall            0
reviewTime         0
reviewerID         0
asin               0
reviewerName       0
reviewText      1742
brand            131
main_cat           0
Polarity           0
Analysis           0
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
x=df['reviewText']
y=df['Analysis']

In [ ]:
cv = TfidfVectorizer()
x = cv.fit_transform(x)

In [ ]:
x_train ,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20 ,random_state=0)

In [ ]:
t=time()
lr1=LogisticRegression(max_iter=100)
ovr1=OneVsRestClassifier(lr1)
ovr1.fit(x_train,y_train)

y_pred=ovr1.predict(x_test)

end=time()-t

print(end)

92.3583767414093

In [ ]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

    Negative       0.90      0.95      0.93     34306
     Neutral       0.95      0.97      0.96     28524
    Positive       0.99      0.98      0.99    272479

    accuracy                           0.98    335309
   macro avg       0.95      0.97      0.96    335309
weighted avg       0.98      0.98      0.98    335309

In [ ]:
dic={"actual":y_test[:31],"predicted":y_pred[:31]}  
pd.DataFrame(dic)

           actual predicted
1347586  Positive  Positive
482299   Positive  Positive
620701   Positive  Positive
282426    Neutral   Neutral
720698   Positive  Positive
23118    Negative  Negative
628422   Positive  Positive
1618431  Negative  Negative
1498727  Positive  Positive
233821    Neutral   Neutral
412870   Positive  Positive
1261843  Positive  Positive
39407    Negative  Negative
408921   Positive  Positive
492682   Positive  Positive
1520418  Positive  Positive
459868   Positive  Positive
832776   Positive  Positive
1399033  Positive  Positive
430085   Positive  Positive
1521381  Positive  Positive
266970   Positive  Positive
105506   Negative  Negative
19569    Positive  Positive
558063   Positive  Positive
531009   Positive  Positive
1432660  Positive  Positive
835057   Positive  Positive
322443   Positive  Positive
166817   Positive  Positive
1582952  Positive  Positive